.data .card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* 4 cards per row */
  gap: 25px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.data .card {
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.data .card:hover {
  transform: scale(1.05);
}

.data .card-icon {
  width: 60px;
  height: 60px;
  margin-right: 16px;
}

.data .card-content {
  text-align: left;
}

.data .card h3 {
  font-size: 18px;
  margin: 0;
}

.data .card p {
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .data .card-container {
    grid-template-columns: repeat(2, 1fr);
    /* 2 cards per row on tablets */
  }
}

@media (max-width: 600px) {
  .data .card-container {
    grid-template-columns: repeat(1, 1fr);
    /* 1 card per row on mobiles */
  }
}

.pink-background {
  background: #f9d2f1;
}

.landing-section {
  background-size: 100% 100%;
  background-position: top;
  color: white;
  background-image: url(./Design/Assets/back.jpg);
}